APPS_PRINCESA_URL=<string>
APPS_INTERNAL_KEY=<string>
APP_ID=<number>
# Assina o cookie de sessao. Minimo 32 caracteres; gere com: node -e "console.log(require('crypto').randomBytes(48).toString('base64url'))"
SESSION_SECRET=<string>
